.DS_Store
vendor
dist
/rhoas
/cmd/rhoas/pkged.go
node_modules
.idea

# These are ignored because they are the common extension
# formats for credentials which can get included during development
# You can explicitly override these on a per file basis with a "!" prefix
# Example: /!keycloak.json
/*.json
/*.yaml
/*.yml
/*.env
/*.properties
.idea/

!/wix.json
