# ignore generated API clients in GitHub pull requests
pkg/api/ams/**/* linguist-generated=true
pkg/api/strimzi-admin/**/* linguist-generated=true
pkg/api/srs/**/* linguist-generated=true
pkg/api/srsdata/**/* linguist-generated=true

# ignore the generated command line reference document in GitHub PRs
docs/commands/*.adoc linguist-generated=true
