openapi: 3.0.0
info:
  title: Strimzi Kubernetes REST API
  version: 0.1.0
  description: An API to provide k8s REST endpoints for query
  license:
    name: Apache 2.0
    url: "https://www.apache.org/licenses/LICENSE-2.0"
servers:
  - url: "https://api.openshift.com/api/managed-services-strimzi-ui/v1/api"
    description: Main (production) server
  - url: "https://api.stage.openshift.com/api/managed-services-strimzi-ui/v1/api"
    description: Staging server
  - url: "http://localhost:8000/api/managed-services-strimzi-ui/v1/api"
    description: localhost
paths:
  /topics:
    get:
      parameters:
        - name: limit
          description: Maximum number of topics to return
          schema:
            format: int32
            type: integer
          in: query
          required: false
        - name: filter
          description: Filter to apply when returning the list of topics
          schema:
            type: string
          in: query
        - name: offset
          description: The page offset when returning  the limit of requested topics.
          schema:
            format: int32
            type: integer
          in: query
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TopicsList"
          description: List of topics matching the users query paramters.
        "400":
          content:
            application/json: {}
          description: Unable to retreive topics.
        "401":
          content:
            application/json: {}
          description: "Unauthorized, unable to retrive topics."
        "500":
          description: Internal server error.
        "503":
          description: Unable to connect to the Kafka cluster.
      operationId: getTopicsList
      summary: List of topics
      description: "Returns a list of all of the available topics, or the list of topics that meet the users URL Query Parameters."
    post:
      requestBody:
        description: Topic to create.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewTopicInput"
            examples:
              NewTopicInput:
                value:
                  name: Pets
                  settings:
                    numPartitions: 3
                    replicationFactor: 4
                    config:
                      - key: min.insync.replicas
                        value: "1"
                      - key: max.message.bytes
                        value: "1050000"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Topic"
          description: Topic created successfully.
        "400":
          description: Unable to create topic.
        "401":
          description: "Unauthorized, Unable to create topic."
        "409":
          description: Entry already exisits
        "500":
          description: Internal server error.
        "503":
          description: Unable to connect to the Kafka cluster.
      operationId: createTopic
      summary: Creates a new topic
      description: Creates a new topic for Kafka.
  "/topics/{topicName}":
    get:
      parameters:
        - name: topicName
          description: The topic name to retrieve.
          schema:
            type: string
          in: path
          required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Topic"
          description: Kakfa topic details.
        "401":
          description: "Unauthorized, unable to retrieve topics."
        "404":
          description: Topic not found.
        "500":
          description: Internal server error.
        "503":
          description: Unable to connect to the Kafka cluster.
      operationId: getTopic
      summary: Retrieves the topic with the specified name.
      description: Topic
    delete:
      parameters:
        - name: topicName
          description: The topic name to retrieve.
          schema:
            type: string
          in: path
          required: true
      responses:
        "200":
          description: Topic deleted successfully.
        "401":
          description: "Unathorized, unable to delete topic."
        "404":
          description: Topic not found.
        "500":
          description: Internal server error.
        "503":
          description: Unable to connect to the Kafka cluster.
      operationId: deleteTopic
      summary: Deletes a  topic
      description: Deletes the topic with the specified name.
    patch:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TopicSettings"
        required: true
      parameters:
        - name: topicName
          description: The topic name which is its unique id.
          schema:
            type: string
          in: path
          required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Topic"
          description: Topic updated successfully.
        "400":
          description: Unable to update topic.
        "401":
          description: "Unauthroized, unable to update topic."
        "404":
          description: Topic not found.
        "500":
          description: Internal server error.
        "503":
          description: Unable to connect to the Kafka cluster.
      operationId: updateTopic
      summary: Updates the topic with the specified name.
      description: updates the topic with the new data.
    parameters:
      - name: topicName
        description: The topic name which is its unique id.
        schema:
          type: string
        in: path
        required: true
  /metrics:
    get:
      responses:
        "200":
          description: Metrics
      operationId: metrics
      summary: Admin server metrics
components:
  schemas:
    Topic:
      title: Root Type for NewTopicInput
      description: Kafka Topic (A feed where records are stored and published)
      type: object
      properties:
        name:
          description: The name of the topic.
          type: string
        config:
          description: Topic configuration entry.
          type: array
          items:
            $ref: "#/components/schemas/ConfigEntry"
        partitions:
          description: Partitions for this topic.
          type: array
          items:
            $ref: "#/components/schemas/Partition"
      example:
        name: Pets
        config:
          - key: min.insync.replicas
            value: "1"
          - key: max.message.bytes
            value: "1050000"
        partitions:
          - id: 28
            replicas:
              - id: 35
              - id: 5
            isr:
              - id: 44
              - id: 83
            leader:
              id: 22
          - id: 68
            replicas:
              - id: 81
              - id: 22
            isr:
              - id: 75
              - id: 65
            leader:
              id: 58
    Partition:
      description: Kafka topic partition
      required:
        - id
      type: object
      properties:
        id:
          description: Uniquie id for the partition
          type: integer
        replicas:
          description: List of replicas for the partition
          type: array
          items:
            $ref: "#/components/schemas/Node"
        isr:
          description: List isync-replicas for this partition.
          type: array
          items:
            $ref: "#/components/schemas/Node"
        leader:
          $ref: "#/components/schemas/Node"
          description: Node that is the leader for this partition.
      example:
        id: 87
        replicas:
          - id: 28
          - id: 18
        isr:
          - id: 22
          - id: 66
        leader:
          id: 62
    ConfigEntry:
      description: Key value pair indicating possible configuration options for a topic.
      type: object
      properties:
        key:
          description: The key indicating what configuration entry you would like to set for the topic.
          type: string
        value:
          description: Value to indicate the setting on the topic configuration entry.
          type: string
      example:
        key: min.insync.replicas
        value: "1"
    TopicsList:
      description: A list of topics.
      required:
        - topics
        - offset
        - limit
        - count
      type: object
      properties:
        topics:
          description: List of topics
          type: array
          items:
            $ref: "#/components/schemas/Topic"
        offset:
          description: The page offset
          type: integer
        limit:
          description: number of entries per page
          type: integer
        count:
          description: Total number of topics
          type: integer
      example:
        topics:
          - name: Pets
            config:
              - key: min.insync.replicas
                value: "1"
              - key: max.message.bytes
                value: "1050000"
            partitions:
              - id: 28
                replicas:
                  - id: 35
                  - id: 5
                isr:
                  - id: 44
                  - id: 83
                leader:
                  id: 22
              - id: 68
                replicas:
                  - id: 81
                  - id: 22
                isr:
                  - id: 75
                  - id: 65
                leader:
                  id: 58
        offset: 25
        limit: 90
        count: 94
    TopicSettings:
      title: Root Type for NewTopicInput
      description: Kafka Topic (A feed where records are stored and published)
      type: object
      properties:
        numPartitions:
          description: Number of partitions for this topic.
          type: integer
        replicationFactor:
          description: Number of replications for the topic.
          type: integer
        config:
          description: Topic configuration entry.
          type: array
          items:
            $ref: "#/components/schemas/ConfigEntry"
      example:
        numPartitions: 2
        replicationFactor: 1
        config:
          - key: min.insync.replicas
            value: "1"
          - key: max.message.bytes
            value: "1050000"
    Node:
      description: Kafka server / broker.
      type: object
    NewTopicInput:
      description: Input object to create a new topic.
      required:
        - name
      type: object
      properties:
        name:
          description: "The topic name, this value must be unique."
          type: string
        settings:
          $ref: "#/components/schemas/TopicSettings"
          description: "The settings that are applicable to this topic.  This includes partitions, configuration information, and number of replicas."
      example:
        name: Pets
        settings:
          numPartitions: 3
          replicationFactor: 4
          config:
            - key: min.insync.replicas
              value: "1"
            - key: max.message.bytes
              value: "1050000"
