openapi: 3.0.0
info:
  description: Manage user subscriptions and clusters
  title: Account Management Service API
  version: 0.0.1
servers:
- description: Main (production) server
  url: https://api.openshift.com
- description: Staging server
  url: https://api.stage.openshift.com
- description: current domain
  url: /
paths:
  /api/accounts_mgmt/v1/access_token:
    post:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenCfg'
          description: access token from registries in docker format
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation errors occurred
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Cannot find registry
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Return access token generated from registries in docker format
  /api/accounts_mgmt/v1/accounts:
    get:
      parameters:
      - description: Page number of record list when record list exceeds specified
          page size
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Maximum number of records to return
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 100
          minimum: 0
          type: integer
        style: form
      - description: |-
          Specifies the search criteria. The syntax of this parameter is
          similar to the syntax of the _where_ clause of an SQL statement,
          using the names of the json attributes / column names of the account.
          For example, in order to retrieve all the accounts with a username
          starting with `my`:

          ```sql
          username like 'my%'
          ```

          The search criteria can also be applied on related resource.
          For example, in order to retrieve all the subscriptions labeled by `foo=bar`,

          ```sql
          labels.key = 'foo' and labels.value = 'bar'
          ```

          If the parameter isn't provided, or if the value is empty, then
          all the accounts that the user has permission to see will be
          returned.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Specifies the order by criteria. The syntax of this parameter is
          similar to the syntax of the _order by_ clause of an SQL statement,
          but using the names of the json attributes / column of the account.
          For example, in order to retrieve all accounts ordered by username:

          ```sql
          username asc
          ```

          Or in order to retrieve all accounts ordered by username _and_ first name:

          ```sql
          username asc, firstName asc
          ```

          If the parameter isn't provided, or if the value is empty, then
          no explicit ordering will be applied.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Supplies a comma-separated list of fields to be returned.
          Fields of sub-structures and of arrays use <structure>.<field> notation.
          <stucture>.* means all field of a structure
          Example: For each Subscription to get id, href, plan(id and kind) and labels (all fields)

          ```
          ocm get subscriptions --parameter fields=id,href,plan.id,plan.kind,labels.* --parameter fetchLabels=true
          ```
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: If true, includes the labels on a subscription/organization/account
          in the output. Could slow request response time.
        explode: true
        in: query
        name: fetchLabels
        required: false
        schema:
          type: boolean
        style: form
      - description: If true, includes the capabilities on a subscription in the output.
          Could slow request response time.
        explode: true
        in: query
        name: fetchCapabilities
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList'
          description: A JSON array of account objects
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Returns a list of accounts
    post:
      parameters:
      - description: If true, instructs API to avoid making any changes, but rather
          run through validations only.
        explode: true
        in: query
        name: dryRun
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
        description: Account data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: Account can be created without dryRun parameter
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation errors occurred
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Account already exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred creating the account
      security:
      - Bearer: []
      summary: Create a new account
  /api/accounts_mgmt/v1/accounts/{id}:
    get:
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: If true, includes the labels on a subscription/organization/account
          in the output. Could slow request response time.
        explode: true
        in: query
        name: fetchLabels
        required: false
        schema:
          type: boolean
        style: form
      - description: If true, includes the capabilities on a subscription in the output.
          Could slow request response time.
        explode: true
        in: query
        name: fetchCapabilities
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: Account found by id
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No account with specified id exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Get an account by id
    patch:
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountPatchRequest'
        description: Updated account data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: Account updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation errors occurred
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No account with specified id exists
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Account already exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error updating account
      security:
      - Bearer: []
      summary: Update an account
  /api/accounts_mgmt/v1/accounts/{id}/labels:
    get:
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Page number of record list when record list exceeds specified
          page size
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Maximum number of records to return
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 100
          minimum: 0
          type: integer
        style: form
      - description: |-
          Specifies the search criteria. The syntax of this parameter is
          similar to the syntax of the _where_ clause of an SQL statement,
          using the names of the json attributes / column names of the account.
          For example, in order to retrieve all the accounts with a username
          starting with `my`:

          ```sql
          username like 'my%'
          ```

          The search criteria can also be applied on related resource.
          For example, in order to retrieve all the subscriptions labeled by `foo=bar`,

          ```sql
          labels.key = 'foo' and labels.value = 'bar'
          ```

          If the parameter isn't provided, or if the value is empty, then
          all the accounts that the user has permission to see will be
          returned.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Specifies the order by criteria. The syntax of this parameter is
          similar to the syntax of the _order by_ clause of an SQL statement,
          but using the names of the json attributes / column of the account.
          For example, in order to retrieve all accounts ordered by username:

          ```sql
          username asc
          ```

          Or in order to retrieve all accounts ordered by username _and_ first name:

          ```sql
          username asc, firstName asc
          ```

          If the parameter isn't provided, or if the value is empty, then
          no explicit ordering will be applied.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelList'
          description: A JSON array of label
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Returns a list of labels
    post:
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Label'
        description: Label data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
          description: Created or updated label successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation errors occurred
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred creating the label
      security:
      - Bearer: []
      summary: Create a new label or update an existing label
  /api/accounts_mgmt/v1/accounts/{id}/labels/{key}:
    delete:
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The key of the label
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Label successfully deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No label with specified key on specified organizations id exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred deleting the label
      security:
      - Bearer: []
      summary: Delete a label
    get:
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The key of the label
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
          description: Labels found by key
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No label with specified key on specified organizations id exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Get subscription labels by label key
    patch:
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The key of the label
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Label'
        description: Label data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
          description: Created or updated label successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation errors occurred
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Label already exists and cannot be updated
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error updating organizations label
      security:
      - Bearer: []
      summary: Create a new label or update an existing label
  /api/accounts_mgmt/v1/cluster_authorizations:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterAuthorizationRequest'
        description: Cluster and authorization data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterAuthorizationResponse'
          description: The authorization is successful, the requested cluster has
            a valid subscription and is within resource limits.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation errors occurred
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: AMS subscription exists but is associated with another account
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The limits for this subscription are exceeded.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Other cluster authorization error
      security:
      - Bearer: []
      summary: Authorizes new cluster creation against an exsiting RH Subscription.
  /api/accounts_mgmt/v1/cluster_registrations:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterRegistrationRequest'
        description: Cluster and authorization data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterRegistrationResponse'
          description: A cluster with the specified cluster_id exists and belongs
            to the user with the specified registry credential token
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterRegistrationResponse'
          description: No cluster with the specified cluster exists, one was successfully
            created and associated with the account with the specified registry credential
            token
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation errors occurred
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Registry credential token is invalid
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Cluster with specified cluster_id already associated with another
            user
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: cluster_id provided is invalid
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too many clusters have been associated with this user recently
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Other cluster registration error
      security:
      - Bearer: []
      summary: Finds or creates a cluster registration with a registy credential token
        and cluster ID
  /api/accounts_mgmt/v1/current_account:
    get:
      parameters:
      - description: If true, includes the labels on a subscription/organization/account
          in the output. Could slow request response time.
        explode: true
        in: query
        name: fetchLabels
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: Account found via JWT
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Get the authenticated account
  /api/accounts_mgmt/v1/errors:
    get:
      parameters:
      - description: Page number of record list when record list exceeds specified
          page size
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Maximum number of records to return
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 100
          minimum: 0
          type: integer
        style: form
      - description: |-
          Specifies the search criteria. The syntax of this parameter is
          similar to the syntax of the _where_ clause of an SQL statement,
          using the names of the json attributes / column names of the account.
          For example, in order to retrieve all the accounts with a username
          starting with `my`:

          ```sql
          username like 'my%'
          ```

          The search criteria can also be applied on related resource.
          For example, in order to retrieve all the subscriptions labeled by `foo=bar`,

          ```sql
          labels.key = 'foo' and labels.value = 'bar'
          ```

          If the parameter isn't provided, or if the value is empty, then
          all the accounts that the user has permission to see will be
          returned.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: A JSON array or errors
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      summary: Returns a list of errors
  /api/accounts_mgmt/v1/errors/{id}:
    get:
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error found by id
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No error with specified id exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      summary: Get an error by id
  /api/accounts_mgmt/v1/feature_toggles/{id}/query:
    post:
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeatureToggleQueryRequest'
        description: The context of the query
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureToggle'
          description: Feature toggle found by id
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation errors occurred
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Query a feature toggle by id
  /api/accounts_mgmt/v1/labels:
    get:
      parameters:
      - description: Page number of record list when record list exceeds specified
          page size
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Maximum number of records to return
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 100
          minimum: 0
          type: integer
        style: form
      - description: |-
          Specifies the search criteria. The syntax of this parameter is
          similar to the syntax of the _where_ clause of an SQL statement,
          using the names of the json attributes / column names of the account.
          For example, in order to retrieve all the accounts with a username
          starting with `my`:

          ```sql
          username like 'my%'
          ```

          The search criteria can also be applied on related resource.
          For example, in order to retrieve all the subscriptions labeled by `foo=bar`,

          ```sql
          labels.key = 'foo' and labels.value = 'bar'
          ```

          If the parameter isn't provided, or if the value is empty, then
          all the accounts that the user has permission to see will be
          returned.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Specifies the order by criteria. The syntax of this parameter is
          similar to the syntax of the _order by_ clause of an SQL statement,
          but using the names of the json attributes / column of the account.
          For example, in order to retrieve all accounts ordered by username:

          ```sql
          username asc
          ```

          Or in order to retrieve all accounts ordered by username _and_ first name:

          ```sql
          username asc, firstName asc
          ```

          If the parameter isn't provided, or if the value is empty, then
          no explicit ordering will be applied.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelList'
          description: A JSON array of label objects
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Returns a list of labels
  /api/accounts_mgmt/v1/metrics:
    get:
      parameters:
      - description: |-
          Specifies the search criteria. The syntax of this parameter is
          similar to the syntax of the _where_ clause of an SQL statement,
          using the names of the json attributes / column names of the account.
          For example, in order to retrieve all the accounts with a username
          starting with `my`:

          ```sql
          username like 'my%'
          ```

          The search criteria can also be applied on related resource.
          For example, in order to retrieve all the subscriptions labeled by `foo=bar`,

          ```sql
          labels.key = 'foo' and labels.value = 'bar'
          ```

          If the parameter isn't provided, or if the value is empty, then
          all the accounts that the user has permission to see will be
          returned.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsList'
          description: A JSON array of metrics objects
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Returns a list of metrics
  /api/accounts_mgmt/v1/notify:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationRequest'
        description: The contents of the notification to send to the owner of a cluster/subscription
          in addition to the set of template parameters which are sent automatically
          ACCOUNT_USERNAME, FIRST_NAME, LAST_NAME, ORGANIZATION_NAME, ORGANIZATION_EXTERNAL_ID
        required: true
      responses:
        "202":
          description: Notification created and queued to be sent soon
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation errors occurred
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Notify the owner of cluster/subscription
  /api/accounts_mgmt/v1/organizations:
    get:
      parameters:
      - description: Page number of record list when record list exceeds specified
          page size
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Maximum number of records to return
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 100
          minimum: 0
          type: integer
        style: form
      - description: |-
          Specifies the search criteria. The syntax of this parameter is
          similar to the syntax of the _where_ clause of an SQL statement,
          using the names of the json attributes / column names of the account.
          For example, in order to retrieve all the accounts with a username
          starting with `my`:

          ```sql
          username like 'my%'
          ```

          The search criteria can also be applied on related resource.
          For example, in order to retrieve all the subscriptions labeled by `foo=bar`,

          ```sql
          labels.key = 'foo' and labels.value = 'bar'
          ```

          If the parameter isn't provided, or if the value is empty, then
          all the accounts that the user has permission to see will be
          returned.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Specifies the order by criteria. The syntax of this parameter is
          similar to the syntax of the _order by_ clause of an SQL statement,
          but using the names of the json attributes / column of the account.
          For example, in order to retrieve all accounts ordered by username:

          ```sql
          username asc
          ```

          Or in order to retrieve all accounts ordered by username _and_ first name:

          ```sql
          username asc, firstName asc
          ```

          If the parameter isn't provided, or if the value is empty, then
          no explicit ordering will be applied.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: If true, includes the labels on a subscription/organization/account
          in the output. Could slow request response time.
        explode: true
        in: query
        name: fetchLabels
        required: false
        schema:
          type: boolean
        style: form
      - description: If true, includes the capabilities on a subscription in the output.
          Could slow request response time.
        explode: true
        in: query
        name: fetchCapabilities
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          Supplies a comma-separated list of fields to be returned.
          Fields of sub-structures and of arrays use <structure>.<field> notation.
          <stucture>.* means all field of a structure
          Example: For each Subscription to get id, href, plan(id and kind) and labels (all fields)

          ```
          ocm get subscriptions --parameter fields=id,href,plan.id,plan.kind,labels.* --parameter fetchLabels=true
          ```
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationList'
          description: A JSON array of organization objects
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Returns a list of organizations
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
        description: Organization data
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation errors occurred
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Organization already exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred creating the organization
      security:
      - Bearer: []
      summary: Create a new organization
  /api/accounts_mgmt/v1/organizations/{id}:
    get:
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: If true, includes the labels on a subscription/organization/account
          in the output. Could slow request response time.
        explode: true
        in: query
        name: fetchLabels
        required: false
        schema:
          type: boolean
        style: form
      - description: If true, includes the capabilities on a subscription in the output.
          Could slow request response time.
        explode: true
        in: query
        name: fetchCapabilities
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: Organization found by id
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No organization with specified id exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Get an organization by id
    patch:
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationPatchRequest'
        description: Updated organization data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: Organization updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation errors occurred
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No organization with specified id exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error updating organization
      security:
      - Bearer: []
      summary: Update an organization
  /api/accounts_mgmt/v1/organizations/{id}/labels:
    get:
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Page number of record list when record list exceeds specified
          page size
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Maximum number of records to return
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 100
          minimum: 0
          type: integer
        style: form
      - description: |-
          Specifies the search criteria. The syntax of this parameter is
          similar to the syntax of the _where_ clause of an SQL statement,
          using the names of the json attributes / column names of the account.
          For example, in order to retrieve all the accounts with a username
          starting with `my`:

          ```sql
          username like 'my%'
          ```

          The search criteria can also be applied on related resource.
          For example, in order to retrieve all the subscriptions labeled by `foo=bar`,

          ```sql
          labels.key = 'foo' and labels.value = 'bar'
          ```

          If the parameter isn't provided, or if the value is empty, then
          all the accounts that the user has permission to see will be
          returned.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Specifies the order by criteria. The syntax of this parameter is
          similar to the syntax of the _order by_ clause of an SQL statement,
          but using the names of the json attributes / column of the account.
          For example, in order to retrieve all accounts ordered by username:

          ```sql
          username asc
          ```

          Or in order to retrieve all accounts ordered by username _and_ first name:

          ```sql
          username asc, firstName asc
          ```

          If the parameter isn't provided, or if the value is empty, then
          no explicit ordering will be applied.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelList'
          description: A JSON array of label
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Returns a list of labels
    post:
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Label'
        description: Label data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
          description: Created or updated label successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation errors occurred
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred creating the label
      security:
      - Bearer: []
      summary: Create a new label or update an existing label
  /api/accounts_mgmt/v1/organizations/{id}/labels/{key}:
    delete:
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The key of the label
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Label successfully deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No label with specified key on specified organizations id exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred deleting the label
      security:
      - Bearer: []
      summary: Delete a label
    get:
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The key of the label
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
          description: Labels found by key
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No label with specified key on specified organizations id exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Get subscription labels by label key
    patch:
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The key of the label
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Label'
        description: Label data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
          description: Created or updated label successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation errors occurred
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Label already exists and cannot be updated
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error updating organizations label
      security:
      - Bearer: []
      summary: Create a new label or update an existing label
  /api/accounts_mgmt/v1/organizations/{id}/summary_dashboard:
    get:
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Summary'
          description: A JSON array of metrics objects
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Returns a summary of organizations clusters based on metrics
  /api/accounts_mgmt/v1/organizations/{orgId}/quota_cost:
    get:
      parameters:
      - description: The id of organization
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Specifies the search criteria. The syntax of this parameter is
          similar to the syntax of the _where_ clause of an SQL statement,
          using the names of the json attributes / column names of the account.
          For example, in order to retrieve all the accounts with a username
          starting with `my`:

          ```sql
          username like 'my%'
          ```

          The search criteria can also be applied on related resource.
          For example, in order to retrieve all the subscriptions labeled by `foo=bar`,

          ```sql
          labels.key = 'foo' and labels.value = 'bar'
          ```

          If the parameter isn't provided, or if the value is empty, then
          all the accounts that the user has permission to see will be
          returned.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: If true, includes the related resources in the output. Could
          slow request response time.
        explode: true
        in: query
        name: fetchRelatedResources
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaCostList'
          description: A JSON array of QuotaCost objects
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No organization with specified id exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred when getting this resource
      security:
      - Bearer: []
      summary: Returns a summary of quota cost
  /api/accounts_mgmt/v1/organizations/{orgId}/quota_summary:
    get:
      deprecated: true
      parameters:
      - description: The id of organization
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Specifies the search criteria. The syntax of this parameter is
          similar to the syntax of the _where_ clause of an SQL statement,
          using the names of the json attributes / column names of the account.
          For example, in order to retrieve all the accounts with a username
          starting with `my`:

          ```sql
          username like 'my%'
          ```

          The search criteria can also be applied on related resource.
          For example, in order to retrieve all the subscriptions labeled by `foo=bar`,

          ```sql
          labels.key = 'foo' and labels.value = 'bar'
          ```

          If the parameter isn't provided, or if the value is empty, then
          all the accounts that the user has permission to see will be
          returned.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaSummaryList'
          description: A JSON array of QuotaSummary objects
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No organization with specified id exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred when getting this resource
      security:
      - Bearer: []
      summary: Returns a summary of resource quota
  /api/accounts_mgmt/v1/organizations/{orgId}/resource_quota:
    get:
      parameters:
      - description: Page number of record list when record list exceeds specified
          page size
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Maximum number of records to return
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 100
          minimum: 0
          type: integer
        style: form
      - description: |-
          Specifies the search criteria. The syntax of this parameter is
          similar to the syntax of the _where_ clause of an SQL statement,
          using the names of the json attributes / column names of the account.
          For example, in order to retrieve all the accounts with a username
          starting with `my`:

          ```sql
          username like 'my%'
          ```

          The search criteria can also be applied on related resource.
          For example, in order to retrieve all the subscriptions labeled by `foo=bar`,

          ```sql
          labels.key = 'foo' and labels.value = 'bar'
          ```

          If the parameter isn't provided, or if the value is empty, then
          all the accounts that the user has permission to see will be
          returned.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Specifies the order by criteria. The syntax of this parameter is
          similar to the syntax of the _order by_ clause of an SQL statement,
          but using the names of the json attributes / column of the account.
          For example, in order to retrieve all accounts ordered by username:

          ```sql
          username asc
          ```

          Or in order to retrieve all accounts ordered by username _and_ first name:

          ```sql
          username asc, firstName asc
          ```

          If the parameter isn't provided, or if the value is empty, then
          no explicit ordering will be applied.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: The id of organization
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceQuotaList'
          description: A JSON array of ResourceQuota objects
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No organization with specified id exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred when getting this resource
      security:
      - Bearer: []
      summary: Returns a list of resource quota objects
    post:
      parameters:
      - description: The id of organization
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceQuotaRequest'
        description: Resource quota data
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceQuota'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation errors occurred
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ResourceQuota already exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred creating the resource quota
      security:
      - Bearer: []
      summary: Create a new resource quota
  /api/accounts_mgmt/v1/organizations/{orgId}/resource_quota/{quotaId}:
    delete:
      parameters:
      - description: The id of organization
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of quota
        explode: false
        in: path
        name: quotaId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Resource Quota successfully deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Resource Quota with specified id exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred deleting the Resource Quota
      security:
      - Bearer: []
      summary: Delete a resource quota
    get:
      parameters:
      - description: The id of organization
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of quota
        explode: false
        in: path
        name: quotaId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceQuota'
          description: Resource quota found by id
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No resource quota with specified id exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred when getting this resource
      security:
      - Bearer: []
      summary: Get a resource quota by id
    patch:
      parameters:
      - description: The id of organization
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of quota
        explode: false
        in: path
        name: quotaId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceQuotaRequest'
        description: Updated resource quota data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceQuota'
          description: Resource Quota updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation errors occurred
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No resource quota with specified id exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error updating resource quota
      security:
      - Bearer: []
      summary: Update a resource quota
  /api/accounts_mgmt/v1/plans:
    get:
      parameters:
      - description: Page number of record list when record list exceeds specified
          page size
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Maximum number of records to return
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 100
          minimum: 0
          type: integer
        style: form
      - description: |-
          Specifies the search criteria. The syntax of this parameter is
          similar to the syntax of the _where_ clause of an SQL statement,
          using the names of the json attributes / column names of the account.
          For example, in order to retrieve all the accounts with a username
          starting with `my`:

          ```sql
          username like 'my%'
          ```

          The search criteria can also be applied on related resource.
          For example, in order to retrieve all the subscriptions labeled by `foo=bar`,

          ```sql
          labels.key = 'foo' and labels.value = 'bar'
          ```

          If the parameter isn't provided, or if the value is empty, then
          all the accounts that the user has permission to see will be
          returned.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanList'
          description: Plans list
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Get all plans
  /api/accounts_mgmt/v1/plans/{id}:
    get:
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
          description: Plan found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No plan with specified id exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Get a plan by id
  /api/accounts_mgmt/v1/pull_secrets:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PullSecretRequest'
        description: Identifier of the resource in the external service that this
          pull secret relates to
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenCfg'
          description: access token from registries in docker format
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation errors occurred
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Cannot find registry
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Return access token generated from registries in docker format
  /api/accounts_mgmt/v1/pull_secrets/{externalResourceId}:
    delete:
      parameters:
      - description: The external resource id of record
        explode: false
        in: path
        name: externalResourceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Pull secret successfully deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to delete pull secret
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No Pull secret with specified id exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred deleting the pull secret
      security:
      - Bearer: []
      summary: Delete a pull secret
  /api/accounts_mgmt/v1/registries:
    get:
      parameters:
      - description: Page number of record list when record list exceeds specified
          page size
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Maximum number of records to return
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 100
          minimum: 0
          type: integer
        style: form
      - description: |-
          Specifies the search criteria. The syntax of this parameter is
          similar to the syntax of the _where_ clause of an SQL statement,
          using the names of the json attributes / column names of the account.
          For example, in order to retrieve all the accounts with a username
          starting with `my`:

          ```sql
          username like 'my%'
          ```

          The search criteria can also be applied on related resource.
          For example, in order to retrieve all the subscriptions labeled by `foo=bar`,

          ```sql
          labels.key = 'foo' and labels.value = 'bar'
          ```

          If the parameter isn't provided, or if the value is empty, then
          all the accounts that the user has permission to see will be
          returned.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Specifies the order by criteria. The syntax of this parameter is
          similar to the syntax of the _order by_ clause of an SQL statement,
          but using the names of the json attributes / column of the account.
          For example, in order to retrieve all accounts ordered by username:

          ```sql
          username asc
          ```

          Or in order to retrieve all accounts ordered by username _and_ first name:

          ```sql
          username asc, firstName asc
          ```

          If the parameter isn't provided, or if the value is empty, then
          no explicit ordering will be applied.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryList'
          description: A JSON array of registry objects
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Returns a list of registries
  /api/accounts_mgmt/v1/registries/{id}:
    get:
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registry'
          description: Registry found by id
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No registry with specified id exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Get an registry by id
  /api/accounts_mgmt/v1/registry_credentials:
    get:
      description: List Registry Credentials
      parameters:
      - description: Page number of record list when record list exceeds specified
          page size
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Maximum number of records to return
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 100
          minimum: 0
          type: integer
        style: form
      - description: |-
          Specifies the search criteria. The syntax of this parameter is
          similar to the syntax of the _where_ clause of an SQL statement,
          using the names of the json attributes / column names of the account.
          For example, in order to retrieve all the accounts with a username
          starting with `my`:

          ```sql
          username like 'my%'
          ```

          The search criteria can also be applied on related resource.
          For example, in order to retrieve all the subscriptions labeled by `foo=bar`,

          ```sql
          labels.key = 'foo' and labels.value = 'bar'
          ```

          If the parameter isn't provided, or if the value is empty, then
          all the accounts that the user has permission to see will be
          returned.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Specifies the order by criteria. The syntax of this parameter is
          similar to the syntax of the _order by_ clause of an SQL statement,
          but using the names of the json attributes / column of the account.
          For example, in order to retrieve all accounts ordered by username:

          ```sql
          username asc
          ```

          Or in order to retrieve all accounts ordered by username _and_ first name:

          ```sql
          username asc, firstName asc
          ```

          If the parameter isn't provided, or if the value is empty, then
          no explicit ordering will be applied.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryCredentialList'
          description: A JSON array of RegistryCredential objects
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not allowed to list RegistryCredentials
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistryCredential'
        description: Registry credential data
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryCredential'
          description: Registry credential created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation errors occurred
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not allowed to create RegistryCredentials
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: A RegistryCredential with this type already exists for this
            user
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unable to create Registry Credential
      security:
      - Bearer: []
      summary: Request the creation of a registry credential
  /api/accounts_mgmt/v1/registry_credentials/{id}:
    delete:
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Registry credential successfully deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No registry credential with specified id exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred deleting the registry credential
      security:
      - Bearer: []
      summary: Delete a registry credential by id
    get:
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryCredential'
          description: Registry credential found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No registry credential with specified id exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Get a registry credentials by id
    patch:
      parameters:
      - description: The id of record
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistryCredentialPatchRequest'
        description: Updated registry credential data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryCredential'
          description: Registry credential updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Validation errors occurred
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not allowed to update registry credential or the specified
            field(s)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No registry credential with specified id exists
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error updating registry credential
      security:
      - Bearer: []
      summary: Update a registry credential
  /api/accounts_mgmt/v1/reserved_resources:
    get:
      parameters:
      - description: Page number of record list when record list exceeds specified
          page size
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Maximum number of records to return
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 100
          minimum: 0
          type: integer
        style: form
      - description: |-
          Specifies the search criteria. The syntax of this parameter is
          similar to the syntax of the _where_ clause of an SQL statement,
          using the names of the json attributes / column names of the account.
          For example, in order to retrieve all the accounts with a username
          starting with `my`:

          ```sql
          username like 'my%'
          ```

          The search criteria can also be applied on related resource.
          For example, in order to retrieve all the subscriptions labeled by `foo=bar`,

          ```sql
          labels.key = 'foo' and labels.value = 'bar'
          ```

          If the parameter isn't provided, or if the value is empty, then
          all the accounts that the user has permission to see will be
          returned.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Specifies the order by criteria. The syntax of this parameter is
          similar to the syntax of the _order by_ clause of an SQL statement,
          but using the names of the json attributes / column of the account.
          For example, in order to retrieve all accounts ordered by username:

          ```sql
          username asc
          ```

          Or in order to retrieve all accounts ordered by username _and_ first name:

          ```sql
          username asc, firstName asc
          ```

          If the parameter isn't provided, or if the value is empty, then
          no explicit ordering will be applied.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservedResourceList'
          description: A JSON array of reserved resource objects
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error occurred
      security:
      - Bearer: []
      summary: Returns a list of reserved resources
  /api/accounts_mgmt/v1/resource_quota:
    get:
      parameters:
      - description: Page number of record list when record list exceeds specified
          page size
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Maximum number of records to return
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 100
          minimum: 0
          type: integer
        style: form
      - description: |-
          Specifies the search criteria. The syntax of this parameter is
          similar to the syntax of the _where_ clause of an SQL statement,
          using the names of the json attributes / column names of the account.
          For example, in order to retrieve all the accounts with a username
          starting with `my`:

          ```sql
          username like 'my%'
          ```

          The search criteria can also be applied on related resource.
          For example, in order to retrieve all the subscriptions labeled by `foo=bar`,

          ```sql
          labels.key = 'foo' and labels.value = 'bar'
          ```

          If the parameter isn't provided, or if the value is empty, then
          all the accounts that the user has permission to see will be
          returned.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Specifies the order by criteria. The syntax of this parameter is
          similar to the syntax of the _order by_ clause of an SQL statement,
          but using the names of the json attributes / column of the account.
          For example, in order to retrieve all accounts ordered by username:

          ```sql
          username asc
          ```

          Or in order to retrieve all accounts ordered by username _and_ first name:

          ```sql
          username asc, firstName asc
          ```

          If the parameter isn't provided, or if the value is empty, then
          no explicit ordering will be applied.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceQuotaList'
          description: A JSON array of ResourceQuota objects
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized to perform operation
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error occurred when getting this resource
      security:
      - Bearer: []
[...]
