name: Validate
on: [pull_request]

jobs:
  validate_comments:
    name: 'Validate Conventional Commits'
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
        # v4
      - uses: wagoid/commitlint-github-action@416045160973f9fff174ac6698412cfe7181c3f3