name: "Issue Labeler"
on:
  issues:
    types: [opened]

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
    - uses: github/issue-labeler@v2.4
      with:
        repo-token: "${{ secrets.ISSUE_LABELER_TOKEN }}"
        configuration-path: .github/labeler.yml
        enable-versioned-regex: 0
