# This workflow will generate modular docs and publish to the modular-docs branch

name: Downstream docs publish

on:
  release:
    types: [released, prereleased]
      
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        name: Checkout Source
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.17.x
      - run: make generate-downstream-docs
        name: Generate generate-downstream-docs
      - name: Deploy
        # v4.4.1
        uses: JamesIves/github-pages-deploy-action@ba1486788b0490a235422264426c45848eac35c6
        with:
          branch: modular-docs # The branch the action should deploy to.
          folder: dist # The folder the action should deploy.
